<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="plik1" value="C:\Users\01034497\Desktop\BUDZ\56-Szablon-budzet-domowy-2019-PLN-v5-2.xlsx" />
    <add key="plik2" value="C:\Users\01034497\Desktop\BUDZ\56-Szablon-budzet-domowy-2020-PLN.xlsx" />
    <add key="plik3" value="C:\Users\01034497\Desktop\BUDZ\asd.xlsx" />
    <add key="plik4" value="C:\Users\01034497\Desktop\BUDZ\ZobaczyszJakSIeBedzieszSmiala.xlsx" />
  </appSettings>
</configuration>